# uv
.uv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.local

# Misc
.DS_Store

airtable_csv_exports/
./airtable_csv_exports/*/**
.gitnexus
